<td-layout-nav>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Dad's Wellness</span>
    <span flex></span>
  </div>

  <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
       <div flex-gt-sm="25" class="seniorInfoSidebar">  <!-- left section -->
         <md-card>
              <img md-card-image [alt]="Dad" src="../assets/grandpa.jpg">
              <md-card-title>Joseph Cunningham</md-card-title>
              <md-card-content class="secondary">
                  <h4>Contact Information</h4>
                  <p>Home Phone:  651-897-5720</p>
                  <p>Cell Phone:  651-223-9964</p>
                  <md-card-actions>
                      <button md-button color="primary">TEXT</button>
                      <button md-button color="primary">EMAIL</button>
                  </md-card-actions>
              </md-card-content>
          </md-card>
          <md-card>
              <md-card-title>Caregiver Information</md-card-title>
               <md-card-content class="secondary">
                    <h4>name</h4>
                    <p>phone</p>
                    <p>address</p>
                    <md-card-actions>
                       <button md-button color="primary">TEXT</button>
                       <button md-button color="primary">EMAIL</button>
                    </md-card-actions>
               </md-card-content>
          </md-card>
       </div>  <!-- end SeniorInfoSidebar -->

    <div flex-gt-sm="75"><!-- right section -->

       <div layout="row" class="timeframe today" *ngIf="reemoData">  <!-- TODAY divider -->
           <div *ngFor="let avgheart of reemoData.LastAvgHeartRate">
             <p class="md-headline">For {{avgheart.date | date: 'fullDate'}}</p>
           </div>
         </div>

      <div layout="row" class="dataContent"><!-- row of small indicators -->

        <div flex="33" layout="column">
          <md-card class="md-card-colored" flex>
            <md-card-content class="text-center">
              <div *ngIf="reemoData">
                <div *ngFor="let sleep of reemoData.LastSleep">
                   <div class="md-display-2">{{sleep.sleep_time.hours}} h {{sleep.sleep_time.minutes}} m <md-icon class="tc-red-500 text-lg">priority_high</md-icon></div>
                    <div layout="column">
                      <div class="md-subhead">Amount of Sleep</div>
                         <div class="md-subhead red">{{sleep.message}}</div>
                      <div class="md-caption tc-grey-600">updated {{ '2017-03-05 15:02:59' | timeAgo }}</div>
                    </div>
              </div>
            </div>
            </md-card-content>
          </md-card>
        </div>

        <div flex="33" layout="column">
          <md-card class="md-card-colored" flex>
            <md-card-content class="text-center">
              <div *ngIf="reemoData">
                <div *ngFor="let avgheart of reemoData.LastAvgHeartRate">
                   <div class="md-display-2">{{avgheart.average_heartrate}} <md-icon class="tc-green-500 text-lg">{{avgheart.indicator}}</md-icon></div>
                    <div layout="column">
                      <div class="md-subhead">Average Heart Rate</div>
                      <div class="md-subhead red">{{avgheart.message}}</div>
                      <div class="md-caption tc-grey-600">updated {{ '2017-03-05 15:02:59' | timeAgo }}</div>
                    </div>
              </div>
            </div>
            </md-card-content>
          </md-card>
        </div>

        <div flex="33" layout="column">
          <md-card class="md-card-colored" flex>
            <md-card-content class="text-center">
              <div *ngIf="reemoData">
                <div *ngFor="let step of reemoData.LastStepcount">
                   <div class="md-display-2">{{step.total_stepcount}} <md-icon class="tc-green-500 text-lg">{{step.indicator}}</md-icon></div>
                    <div layout="column">
                      <div class="md-subhead">Total Stepcount</div>
                        <div class="md-subhead red">{{step.message}}</div>
                      <div class="md-caption tc-grey-600">updated {{ '2017-03-05 15:02:59' | timeAgo }}</div>
                    </div>
              </div>
            </div>
            </md-card-content>
          </md-card>
        </div>

      </div>
      <!-- end indicator row -->

      <div layout="row" class="timeframe">  <!-- WEEK divider -->
            <button md-fab (click)="weekShowing=!weekShowing">
                <md-icon>add</md-icon>
            </button>
            <p class="md-headline">This Week</p>

      </div>

       <div layout="row" class="dataContent" *ngIf="weekShowing">  <!-- week content -->

       <div flex="33" layout="column">
        <md-card>
          <md-card-title>Sleep Data</md-card-title>
          <md-card-content>
             <div *ngIf="reemoData">
               <li *ngFor="let sleep of reemoData.SleepData">
                  <span>{{sleep.sleep_time_in_seconds}}</span>
               </li>
             </div>
          </md-card-content>
        </md-card>
      </div>  <!-- end sleep col -->

       <div flex="33" layout="column">
        <md-card>
          <md-card-title>Heart Rate Data</md-card-title>
          <md-card-content>
             <div *ngIf="reemoData">
               <li *ngFor="let sleep of reemoData.SleepData">
                  <span>{{sleep.sleep_time_in_seconds}}</span>
               </li>
             </div>
          </md-card-content>
        </md-card>
      </div>  <!-- end heart col  -->

     <div flex="33" layout="column">
        <md-card>
          <md-card-title>Step Data</md-card-title>
          <md-card-content>
             <div *ngIf="reemoData">
               <li *ngFor="let sleep of reemoData.SleepData">
                  <span>{{sleep.sleep_time_in_seconds}}</span>
               </li>
             </div>
          </md-card-content>
        </md-card>
      </div>  <!-- end step col  -->

      </div>  <!-- end row -->

      <div>
         <hr>
         <hr>
      </div>

      <div layout="row" class="timeframe">  <!-- MONTH divider -->
          <button md-fab (click)="monthShowing=!monthShowing">
              <md-icon>add</md-icon>
          </button>
            <p class="md-headline">This Month</p>
      </div>

      <div layout="row" *ngIf="monthShowing">   <!-- month content -->

      <div flex="25" layout="column">
        <md-card>
          <md-card-title>Sleep Data</md-card-title>
          <md-card-content>
             <div class="reemoData "*ngIf="reemoData">
                <p>Date:  Sleep Time:</p>
               <li *ngFor="let sleep of reemoData.SleepData">
                  <span>{{sleep.awakened_date}}:  {{sleep.sleep_time_in_seconds}}</span>
               </li>
             </div>
          </md-card-content>
        </md-card>
      </div> <!-- end sleep col -->

     <div flex="50" layout="column">
        <md-card>
          <md-card-title>Heart Rate Data</md-card-title>
          <md-card-content>
            <div class="reemoData" *ngIf="reemoData">
              <p>Date:  Low:   High:   Average:</p>
              <li *ngFor="let rate of reemoData.HeartRateData">
                 <span>{{rate.date}}: {{rate.minimum_heartrate}} - {{rate.maximum_heartrate}} - {{rate.average_heartrate}}</span>
              </li>
            </div>
          </md-card-content>
        </md-card>
      </div>  <!-- end heart col -->

      <div flex="25" layout="column">
        <md-card>
          <md-card-title>Step Data</md-card-title>
          <md-card-content>
             <div class="reemoData" *ngIf="reemoData">
               <p>Date:  Steps:</p>
               <li *ngFor="let steps of reemoData.StepData">
                  <span>{{steps.date}}:  {{steps.total_stepcount}}</span>
               </li>
             </div>
          </md-card-content>
        </md-card>
      </div> <!-- end step col -->

      </div>
  </div>   <!-- end right section -->

</div>  <!-- end body -->

  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption"></span>
      <span flex></span>
      <span class="md-caption reemofooter">Powered by [Reemo logo here]</span>
    </div>
  </td-layout-footer>

</td-layout-nav>
