.md-icon-ux {
    width: 100px;
}
.icon {
  font-size: 48px;
}
.chart-height {
  height: 300px;
}

.actionpane {
  background-color: #C2CAD0;
  margin: -1% 0 -1% -1%;
  padding: 3%;
}

.mat-toolbar.mat-primary {
    background-color: #7E685A;
}
