<td-layout-nav>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Dad's Wellness</span>
    <span flex></span>
  </div>

  <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
       <div flex-gt-sm="25" class="seniorInfoSidebar">  <!-- left section -->
         <md-card>
              <img md-card-image [alt]="Dad" src="../assets/grandpa.jpg">
              <md-card-title>Joseph Cunningham</md-card-title>
              <md-card-content class="secondary">
                  <h4>Contact Information</h4>
                  <p>Home Phone:  651-897-5720</p>
                  <p>Cell Phone:  651-223-9964</p>
                  <md-card-actions>
                      <button md-button color="primary">TEXT</button>
                      <button md-button color="primary">EMAIL</button>
                  </md-card-actions>
              </md-card-content>
          </md-card>
          <md-card>
              <md-card-title>Caregiver Information</md-card-title>
               <md-card-content class="secondary">
                    <h4>name</h4>
                    <p>phone</p>
                    <p>address</p>
                    <md-card-actions>
                       <button md-button color="primary">TEXT</button>
                       <button md-button color="primary">EMAIL</button>
                    </md-card-actions>
               </md-card-content>
          </md-card>
       </div>  <!-- end SeniorInfoSidebar -->

    <div flex-gt-sm="75"><!-- right section -->

       <div layout="row" class="timeframe">  <!-- TODAY divider -->
             <h3>For [lastdate var goes here]</h3>
       </div>

      <div layout="row" class="dataContent"><!-- row of small indicators -->

        <div flex="33" layout="column">
          <md-card class="md-card-colored" flex>
            <md-card-content class="text-center">
              <div class="md-headline">{{ '2341'| digits }} <md-icon class="tc-green-500 text-sm">arrow_upward</md-icon></div>
              <md-icon class="icon tc-indigo-700">perm_contact_calendar</md-icon>
              <div layout="column">
                <div class="md-subhead">Active Users</div>
                <div class="md-caption tc-grey-600">updated {{ '2016-06-17 12:59:59' | timeAgo }}</div>
              </div>
            </md-card-content>
          </md-card>
        </div>

        <div flex="33" layout="column">
          <md-card class="md-card-colored" flex>
            <md-card-content class="text-center">
              <div class="md-headline">{{ '72452903343' | bytes }} <md-icon class="tc-red-500 text-sm">arrow_downward</md-icon></div>
              <md-icon class="icon tc-light-blue-700">sd_storage</md-icon>
              <div layout="column">
                <div class="md-subhead">User Disk Usage</div>
                <div class="md-caption tc-grey-600">updated {{ '2016-07-18 11:02:59' | timeAgo }}</div>
              </div>
            </md-card-content>
          </md-card>
        </div>

        <div flex="33" layout="column">
          <md-card class="md-card-colored" flex>
            <md-card-content class="text-center">
              <div class="md-headline">{{ '324523' | digits}} <md-icon class="tc-green-500 text-sm">arrow_upward</md-icon></div>
              <md-icon class="icon tc-cyan-700">receipt</md-icon>
              <div layout="column">
                <div class="md-subhead">Pages Viewed</div>
                <div class="md-caption tc-grey-600">updated {{ '2016-07-13 09:59:59' | timeAgo }}</div>
              </div>
            </md-card-content>
          </md-card>
        </div>

      </div>
      <!-- end indicator row -->

      <div layout="row" class="timeframe">  <!-- WEEK divider -->
            <button md-fab (click)="weekShowing=!weekShowing">
                <md-icon>add</md-icon>
            </button>
            <h3>This Week</h3>

      </div>

       <div layout="row" class="dataContent" *ngIf="weekShowing">  <!-- week content -->

       <div flex="33" layout="column">
        <md-card>
          <md-card-title>Sleep Data</md-card-title>
          <md-card-content>
             <div *ngIf="reemoData">
               <li *ngFor="let sleep of reemoData.SleepData">
                  <span>{{sleep.sleep_time_in_seconds}}</span>
               </li>
             </div>
          </md-card-content>
        </md-card>
      </div>  <!-- end sleep col -->

       <div flex="33" layout="column">
        <md-card>
          <md-card-title>Heart Rate Data</md-card-title>
          <md-card-content>
             <div *ngIf="reemoData">
               <li *ngFor="let sleep of reemoData.SleepData">
                  <span>{{sleep.sleep_time_in_seconds}}</span>
               </li>
             </div>
          </md-card-content>
        </md-card>
      </div>  <!-- end heart col  -->

     <div flex="33" layout="column">
        <md-card>
          <md-card-title>Step Data</md-card-title>
          <md-card-content>
             <div *ngIf="reemoData">
               <li *ngFor="let sleep of reemoData.SleepData">
                  <span>{{sleep.sleep_time_in_seconds}}</span>
               </li>
             </div>
          </md-card-content>
        </md-card>
      </div>  <!-- end step col  -->

      </div>  <!-- end row -->

      <div>
         <hr>
         <hr>
      </div>

      <div layout="row" class="timeframe">  <!-- MONTH divider -->
          <button md-fab (click)="monthShowing=!monthShowing">
              <md-icon>add</md-icon>
          </button>
            <h3>This Month</h3>
      </div>

      <div layout="row" *ngIf="monthShowing">   <!-- month content -->

      <div flex="25" layout="column">
        <md-card>
          <md-card-title>Sleep Data</md-card-title>
          <md-card-content>
             <div class="reemoData "*ngIf="reemoData">
                <p>Date:  Sleep Time:</p>
               <li *ngFor="let sleep of reemoData.SleepData">
                  <span>{{sleep.awakened_date}}:  {{sleep.sleep_time_in_seconds}}</span>
               </li>
             </div>
          </md-card-content>
        </md-card>
      </div> <!-- end sleep col -->

     <div flex="50" layout="column">
        <md-card>
          <md-card-title>Heart Rate Data</md-card-title>
          <md-card-content>
            <div class="reemoData" *ngIf="reemoData">
              <p>Date:  Low:   High:   Average:</p>
              <li *ngFor="let rate of reemoData.HeartRateData">
                 <span>{{rate.date}}: {{rate.minimum_heartrate}} - {{rate.maximum_heartrate}} - {{rate.average_heartrate}}</span>
              </li>
            </div>
          </md-card-content>
        </md-card>
      </div>  <!-- end heart col -->

      <div flex="25" layout="column">
        <md-card>
          <md-card-title>Step Data</md-card-title>
          <md-card-content>
             <div class="reemoData" *ngIf="reemoData">
               <p>Date:  Steps:</p>
               <li *ngFor="let steps of reemoData.StepData">
                  <span>{{steps.date}}:  {{steps.total_stepcount}}</span>
               </li>
             </div>
          </md-card-content>
        </md-card>
      </div> <!-- end step col -->

      </div>
  </div>   <!-- end right section -->

</div>  <!-- end body -->

  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption"></span>
      <span flex></span>
      <span class="md-caption reemofooter">Powered by [Reemo logo here]</span>
    </div>
  </td-layout-footer>

</td-layout-nav>
