.md-icon-ux {
    width: 100px;
}
.icon {
  font-size: 48px;
}
.chart-height {
  height: 300px;
}

.seniorInfoSidebar {
  background-color: #afd275;
  margin: -1% 0 -1% -1%;
  padding: 2%;
  height: 120vw;
}

.dataContent {
  margin-bottom: 5%;
}

.timeframe {
  background-color: #77726c;
  width: 103%;
  margin: -2% 0 1% 0;
  color: #FFFFFF;
  padding: 1px 0 1px 25px;
}

.today {
  padding: 2% 0 2% 5%;
}

.red {
  color: red;
}

[md-fab] {
  left: -1%;
  z-index: 1;
  top: 4px;
}

li {
  list-style: none;
}

.md-headline {
  margin: 2% 0;
}

.reemofooter {
   font-style: italic;
   font-weight: bold;
}
