<td-layout-nav>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Dad's Wellness</span>
    <span flex></span>
  </div>

  <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
       <div flex-gt-sm="25" class="seniorInfoSidebar">  <!-- left section -->
         <md-card>
              <img md-card-image [alt]="Dad" src="../assets/grandpa.jpg">
              <md-card-title>Joseph Cunningham</md-card-title>
              <md-card-content class="secondary">
                  <div class="md-title">Contact Information</div>
                  <div class="md-subhead">Home Phone:  651-897-5720</div>
                  <div class="md-subhead">Cell Phone:  651-223-9964</div>
                  <md-card-actions>
                      <button md-button color="primary">TEXT</button>
                      <button md-button color="primary">EMAIL</button>
                  </md-card-actions>
              </md-card-content>
          </md-card>
          <md-card>
              <md-card-title>Northridge Health and Rehab</md-card-title>
               <md-card-content class="secondary">
                    <div class="md-title">763-592-3000</div>
                    <div class="md-subhead">5430 Boone Avenue N.</div>
                    <div class="md-subhead">New Hope, MN 55428</div>
                    <md-card-actions>
                       <button md-button color="primary">TEXT</button>
                       <button md-button color="primary">EMAIL</button>
                    </md-card-actions>
               </md-card-content>
          </md-card>
       </div>  <!-- end SeniorInfoSidebar -->

    <div flex-gt-sm="75"><!-- right section -->

       <div layout="row" class="timeframe today" *ngIf="reemoData">  <!-- TODAY divider -->
           <div *ngFor="let avgheart of reemoData.LastAvgHeartRate">
             <div class="md-headline">For {{avgheart.date | date: 'fullDate'}}</div>
           </div>
         </div>

      <div layout="row" class="dataContent"><!-- row of small indicators -->

        <div flex="33" layout="column">
          <md-card class="md-card-colored" flex>
            <md-card-content class="text-center">
              <div *ngIf="reemoData">
                <div *ngFor="let sleep of reemoData.LastSleep">
                   <div class="md-display-2">{{sleep.sleep_time.hours}} h {{sleep.sleep_time.minutes}} m <md-icon class="tc-green-500 text-lg">{{sleep.indicator}}</md-icon></div>
                    <div layout="column">
                      <div class="md-subhead">Amount of Sleep</div>
                         <div class="md-subhead red">{{sleep.message}}</div>
                      <div class="md-caption tc-grey-600">updated {{ '2017-03-06 08:15:59' | timeAgo }}</div>
                    </div>
              </div>
            </div>
            </md-card-content>
          </md-card>
        </div>

        <div flex="33" layout="column">
          <md-card class="md-card-colored" flex>
            <md-card-content class="text-center">
              <div *ngIf="reemoData">
                <div *ngFor="let avgheart of reemoData.LastAvgHeartRate">
                   <div class="md-display-2">{{avgheart.average_heartrate}} <md-icon class="tc-green-500 text-lg">{{avgheart.indicator}}</md-icon></div>
                    <div layout="column">
                      <div class="md-subhead">Average Heart Rate</div>
                      <div class="md-subhead red">{{avgheart.message}}</div>
                      <div class="md-caption tc-grey-600">updated {{ '2017-03-06 08:15:59' | timeAgo }}</div>
                    </div>
              </div>
            </div>
            </md-card-content>
          </md-card>
        </div>

        <div flex="33" layout="column">
          <md-card class="md-card-colored" flex>
            <md-card-content class="text-center">
              <div *ngIf="reemoData">
                <div *ngFor="let step of reemoData.LastStepcount">
                   <div class="md-display-2">{{step.total_stepcount}} <md-icon class="tc-green-500 text-lg">{{step.indicator}}</md-icon></div>
                    <div layout="column">
                      <div class="md-subhead">Total Stepcount</div>
                        <div class="md-subhead red">{{step.message}}</div>
                      <div class="md-caption tc-grey-600">updated {{ '2017-03-06 08:15:59' | timeAgo }}</div>
                    </div>
              </div>
            </div>
            </md-card-content>
          </md-card>
        </div>

      </div>
      <!-- end indicator row -->

      <div layout="row" class="timeframe">  <!-- WEEK divider -->
            <button md-fab (click)="weekShowing=!weekShowing">
                <md-icon>add</md-icon>
            </button>
            <p class="md-headline">Last 7 Days</p>

      </div>

       <div layout="row" class="dataContent" *ngIf="weekShowing">  <!-- week content -->

       <div flex="33" layout="column">
        <md-card>
          <md-card-title class="cardheader">Sleep Data</md-card-title>
          <md-card-content>
            <div class="reemoData" *ngIf="reemoData">
              <table>
                  <tr class="rowstyle1">
                    <th class="tabledata">Date:</th>
                    <th class="tabledata">Sleep Time:</th>
                  </tr>
                  <tr class="rowstyle2" *ngFor="let sleep of reemoData.SleepWeek">
                    <th class="tabledata">{{sleep.awakened_date}}</th>
                    <th class="tabledata">{{sleep.sleep_time.hours}} h {{sleep.sleep_time.minutes}} m </th>
                  </tr>
              </table>
            </div>
          </md-card-content>
        </md-card>
      </div>  <!-- end sleep col -->

       <div flex="66" layout="column">
        <md-card>
          <md-card-title class="cardheader">Step Data</md-card-title>
          <md-card-content>
             <img md-card-image src="../assets/reemochart.png">  <!--[alt]="Step Chart Data" -->
          </md-card-content>
        </md-card>
      </div>  <!-- end step col  -->

      </div>  <!-- end row -->

      <div>
         <hr>
         <hr>
      </div>

      <div layout="row" class="timeframe">  <!-- MONTH divider -->
          <button md-fab (click)="monthShowing=!monthShowing">
              <md-icon>add</md-icon>
          </button>
            <p class="md-headline">Last 30 Days</p>
      </div>

      <div layout="row" *ngIf="monthShowing">   <!-- month content -->

      <div flex="30" layout="column">
        <md-card>
          <md-card-title class="cardheader">Sleep Data</md-card-title>
          <md-card-content>
             <div class="reemoData"*ngIf="reemoData">
               <table>
                   <tr class="rowstyle1">
                     <th class="tabledata">Date:</th>
                     <th class="tabledata">Sleep Time:</th>
                   </tr>
                   <tr class="rowstyle2" *ngFor="let sleep of reemoData.SleepData">
                     <th class="tabledata">{{sleep.awakened_date}}</th>
                     <th class="tabledata">{{sleep.sleep_time.hours}} h {{sleep.sleep_time.minutes}} m </th>
                   </tr>
               </table>
             </div>
          </md-card-content>
        </md-card>
      </div> <!-- end sleep col -->

     <div flex="40" layout="column">
        <md-card>
          <md-card-title class="cardheader">Heart Rate Data</md-card-title>
          <md-card-content>
            <div class="reemoData" *ngIf="reemoData">
              <table>
                  <tr class="rowstyle1">
                    <th class="tabledata">Date:</th>
                    <th class="tabledata">Low:</th>
                    <th class="tabledata">High:</th>
                    <th class="tabledata">Average:</th>
                  </tr>
                  <tr class="rowstyle2" *ngFor="let rate of reemoData.HeartRateData">
                    <th class="tabledata">{{rate.date}}</th>
                    <th class="tabledata">{{rate.minimum_heartrate}}</th>
                    <th class="tabledata">{{rate.maximum_heartrate}}</th>
                    <th class="tabledata">{{rate.average_heartrate}}</th>
                  </tr>
              </table>
            </div>
          </md-card-content>
        </md-card>
      </div>  <!-- end heart col -->

      <div flex="30" layout="column">
        <md-card>
          <md-card-title class="cardheader">Step Data</md-card-title>
          <md-card-content>
             <div class="reemoData" *ngIf="reemoData">
               <table>
                   <tr class="rowstyle1">
                     <th class="tabledata">Date:</th>
                      <th class="tabledata">Steps:</th>
                    </tr>
                    <tr class="rowstyle2" *ngFor="let steps of reemoData.StepData">
                       <th class="tabledata">{{steps.date}}</th>
                       <th class="tabledata">{{steps.total_stepcount}}</th>
                     </tr>
                 </table>
             </div>
          </md-card-content>
        </md-card>
      </div> <!-- end step col -->

      </div>
  </div>   <!-- end right section -->

</div>  <!-- end body -->

  <td-layout-footer>
    <div layout="row" layout-align="start center" class="footercontainer">
      <span class="md-caption"></span>
      <span flex></span>
      <span class="md-caption reemofooter">Powered by <img class="logofooter" src="../assets/reemologo.png"></span>
    </div>
  </td-layout-footer>

</td-layout-nav>
